
<head>
    <meta charset="UTF-8">
    
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  .nav-link {
color: rgb(255, 255, 255) !important;
}
</style>
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
        <a class="navbar-brand mb-0 h1">Paws&Claws</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/chat">Chat</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
          </li>
      </ul>
  
      </nav>






