
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
crossorigin="anonymous">


<% newPost.forEach((post) => {%>
<div class="card" style="margin-bottom: 10px;">
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>recently</div>
    <a class="card-link" href="#">
        <h5 class="card-title">User</h5>
    </a>
    <div class="card-body">
        
        <%=post.content%>
       
    </div>
    <div class="card-footer">
        <a href="#" class="card-link"><i class="fa fa-gittip"></i> </a>
        <a href="#" class="card-link"><i class="fa fa-comment"></i> </a>
        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i></a>
    </div>
  </div>
  <%})%>