16:42<!---The main CSS HTML Layout from here https://www.youtube.com/watch?v=BJcnElgGUvw --->
  
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <!--Let browser know website is optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paws'n'Claws</title>
  </head>
    <body style="background:linear-gradient(to bottom right, white, #ded1bd);height:4000px;">
      <div class="header1"style="position:fixed;width:100%;height:60px;background:#683B2B;top:0;left:0;color:white;z-index:7"></div>
      <div id="searcharea" class="header1" style="position:fixed;background:white;left:0;color:white;z-index:7;top:13px;left:900px;height:5px;"><input placeholder="Search here"type="text" id="searchbox"style="width:300px;height:20px;background:white;padding:5px;"/></div>
      <div class="bodyn"style="top:90px;left:30px;position:absolute;width:200px;height:740px;font-family:verdana;">
      
      <div id="side1" class="bodyn" style="top:0;left:10px;width:180px;height:30px;font-size:20px;color:#363030;margin:10px;">PROFILE</div>
      <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">Edit profile</div>
      <div id="side1" class="bodyn" style="top:0;left:10px;width:180px;height:30px;font-size:20px;color:#363030;margin:10px;">GROUPS</div>
              <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">My groups</div>
              <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">Create group</div>
      <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">Manage my groups</div>
      <div id="side1" class="bodyn" style="top:0;left:10px;width:180px;height:30px;font-size:20px;color:#363030;margin:10px;">FRIENDS</div>
      <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">My friends</div>
      <div id="side2" class="bodyn"  style="top:30px;left:10px;width:180px;height:15px;font-size:15px;color:#363030;margin:10px;">Manage friends</div>
</div>
      <div class="post00"style="top:80px;left:240px;position:absolute;width:600px;height:210px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25)"></div>
            <div class="post10"style="top:300px;left:240px;position:absolute;width:600px;height:600px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25);background:white;border-radius:3px/3px;padding-left:10px;padding-right:10px;padding-top:10px;"></div>
      <div class="post20"style="top:910px;left:240px;position:absolute;width:600px;height:600px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25);background:white;border-radius:3px/3px;padding-left:10px;padding-right:10px;padding-top:10px;"></div>
      <div class="post30"style="top:1530px;left:240px;position:absolute;width:600px;height:600px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25);background:white;border-radius:3px/3px;padding-left:10px;padding-right:10px;padding-top:10px;"></div>
      <div class="post40"style="top:2150px;left:240px;position:absolute;width:600px;height:600px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25);background:white;border-radius:3px/3px;padding-left:10px;padding-right:10px;padding-top:10px;" ></div>
      <div class="post50"style="top:2790px;left:240px;position:absolute;width:600px;height:600px;-webkit-box-shadow:0 3px 8px rgba(0,0,0, .25);background:white;border-radius:3px/3px;padding-left:10px;padding-right:10px;padding-top:10px;"></div>
      
      <div class="header001"style="position:fixed;width:100%;height:60px;top:0;left:0;color:white;z-index:6;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25)"></div>
      <div class="sideboxxx"style="top:70px;left:850px;width:220px;height:570px;position:absolute;font-size:15px;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);font-family:verdana;"></div>
      <div class="sideboxxx2"style="top:650px;left:850px;width:220px;height:460px;position:absolute;font-size:15px;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);font-family:verdana;"></div>
<div class="post"style="top:90px;left:240px;position:absolute;width:600px;height:210px;">
 
      <div id="column-1" class="post"style="top:0px;left:px;width:580px;height:200px;font-size:15px;font-family:verdana;padding-left:10px;             padding-right:10px;padding-top:10px;">update status | add photos/videos | create photo album<hr><br><br><br><br><br><br></hr></div>
      <div id="postpost"class="post"style="top:90px;left:240px;position:absolute;width:600px;height:210px;left:450px;top:150px;width:100px;height:50px;"><input type="submit"id="buttonpost"value="post"style="width:85px;height:30px;font-size:15px;outline:none;color:white;border:2px solid #d49e8d;background-color:#d49e8d;"/></div>
      <div id="postboxpos" class="post"style="top:80px;left:240px;position:absolute;width:600px;height:210px;top:-px;left:10px;height:10px;width:580px;z-index:5;"><textarea placeholder="Tell us what you think" id="postbox" type="text"style="background-color:white;"></textarea></div>
      </div>
    <div id="post1"style="top:290px;left:240px;position:absolute;width:580px;height:600px;padding-left:10px;padding-right:10px;padding-top:10px;"><img src="profile.png"/><br><br><img src="views/rogor.jpg" height="411" width="580"/><br><br><p6 style="color:#b08401;font-family:verdana;">Like | Comment | Share</p6><br><br><hr>
      <p1 style="color:#b08401;">Obi-Wan Kenobi </p1><p2>and </p2><p1 style="color:#b08401">5 others </p1><p2>like this post</p2>
      <div id="post2text"class="post1"style="top:290px;left:240px;position:absolute;width:580px;height:600px;padding-left:10px;padding-right:10px;padding-top:10px;left:40px;top:0px;padding-top:10px;height:40px;width:400px;"><p1 style="color:#b08401;font-weight:bold;font-size:17px;">Luke Skywalker </p1><p2>with </p2><p1 style="color:#b08401">Magister Yoda</p1><p2> and </p2><p1 style="color:#b08401">15 others.</p1><br><p4 style="font-size:12px;"> 4hrs.</p4></div>
      <div id="commentprof2" class="post1" style="top:290px;left:240px;position:absolute;width:580px;height:600px;padding-left:10px;padding-right:10px;padding-top:10px;top:510px;left:0px;width:30px;height:30px;"><img src="profil.png"></div>
      <div id="commentboxpos2" class="post1" style="top:290px;left:240px;position:absolute;width:580px;height:600px;padding-left:10px;padding-right:10px;padding-top:10px;top:510px;left:40px;width:30px;height:30px;"><input type="textarea" placeholder="comment" id="commentbox"style="width:540px;height:30px;"/></div>
    </div>
    <div class="sidebox" style="top:70px;left:850px;width:220px;height:570px;position:absolute;font-family:verdana;">
        <div id="sidebox1" class="sidebox"style="top:0;left:0px;width:220px;height:550px;background-color:white;padding:10px;">
        <div id="sideboxx2"style="left:0px;width:180px;height:20px;font-size:20px;">YOUR PAGES</div><hr><br><br><br>See all<hr>
        <div id="sideboxx3"style="left:0px;width:180px;height:20px;font-size:20px;">This week</div><hr><br><br><br>See more<hr>
        <div id="sideboxx4" style="left:0px;width:180px;height:20px;font-size:20px;">Recent posts</div><hr><br><br><br>See more<hr>
      </div>
      <div id="post1pos" class="sidebox"style="top:70px;left:850px;width:220px;height:570px;position:absolute;font-family:verdana;left:80px;top:515px;width:100px;height:30px;"><input type="submit" id="buttonpost1" value="write a post"style="width:100px;height:30px;color:white;outline:none;background-color:#D49E8D;"/></div>
    </div>
      <!--16:42 -->
    </body>