<!--Source: https://www.youtube.com/watch?v=W52_8vqITAM&t=227s-->
<%- include('header'); -%>
<body>
  <form action='/personal' method='post'>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Post</label>
    <textarea name='newPost' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button class="btn btn-primary" type="submit">Button</button>
  </div>
</form>
</body>