
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paws'n'Claws</title>
  </head>


  <body>
    <!--Navigation menu-->
      <nav style="background-color:#21aaba" class=" topnav" >
             <a href="#!" class="brand-logo">Logo</a>
            <div class="nav-wrapper topnav-right "style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
              <ul class="right hide-on-med-and-down">
                <li><a style="background-color:white;color:black;" class="waves-effect waves-dark btn" >Home</a></li>
                <li><a style="background-color:white;color:black;" class="waves-effect waves-dark btn" >Newsfeed</a></li>
                <li><a style="background-color:white;color:black;" class="waves-effect waves-dark btn">Button3</a></li>
            </ul>
          </div>
     </nav>
    <!--Three container for the page - Red 3/12-White 6/12-Red 3/12-->
      <div class=".container-fluid">
        <div class="row">
          <div class="col-sm-3" style="background-color:#fef4f4;"></div>
    <!--Main white container,  all content of the page will be inside-->
          <div class="col-sm-6" style="background-color:#fef4f4; height:900px">
     <!--Pink "Header" of the page-->        
             <div class="row">
               <div class="col-sm-12" style="background-color:#fbc1c4;height:250px;position:absolute"></div>
     <!--Navy-blue "Stripe" where more links will be. It is inside the pink header-->
                <div class=".container-fluid">
                  <div class="row">
                    <div style="background-color:#04277d;height:50px;position:absolute;margin-top:250px;" class="col"></div>
                  </div>
     <!--White Placeholder where user's photo will be-->
                  <div class="row">
                     <div style="background-color:white;height:50px;position:absolute;margin-top:100px;margin-left:30px;height:170px" class="col-sm-3"></div>
                  </div>
                </div>
          </div>
        <!--The "body" of the page-->
          <div class=".container-fluid">
                      <div class="row">
       <!--White Placeholder for "friends" section-->
                         <div class="col-sm-4" style="margin-top:240px;background-color:#bdbcbc;height:250px;position:relative;border:10px solid white;">  
                         </div>
      <!--Container for posting-->
                         <div class="col-sm-8" style="margin-top:240px;background-color:#fec2b6;height:250px;position:relative;border:10px solid white">
                             <div class="md-form md-outline">
                               <h5>Tell us what you think</h5>
                              <textarea id="form75" class="md-textarea form-control" rows="3"></textarea>
                                <label for="form75">
                                  <a style="background-color:#04247a;color:white;margin-top:10px;position:relative;top:50%;left:10%;"
                                     class="waves-effect waves-light btn" >CANCEL</a>
                                  <a style="background-color:#04247a;color:white;margin-top:10px;position:relative;top:50%;left:170%;"
                                     class="waves-effect waves-light btn" >POST</a>
                                </label>
                            </div>
                         </div>
                      </div>
           </div>

        </div>
       <!--The end of main white container-->
         <div class="col-sm-3" style="background-color:#fef4f4;"></div>
      </div>
    </div>

  </body>
</html>