<link rel="stylesheet" type="text/css" href="../public/css/personal.css">
<script src="../public/js/personal.js"></script>
<link rel="stylesheet" type="text/css" href="../public/css/home.css">
<script> 
  let currentUser;
  window.addEventListener("load", () => {

    //GETS THE DATA FROM SERVER (USERNAME)
    fetch("/user/personal/data", {
      method:"GET"
    }).then( Response => {
      Response.json()
      .then(Data => {
        currentUser = Data;
        document.getElementById("username-container").innerText = currentUser.username;
      })
    }).then(

      //IF USER FOUND THEN GET THE POSTS, POSTED BY THE NAMED USER
      fetch("/posts", {
        method: 'get'
      })
    ).then(
      fetch("/newsfeed", {method:'GET'})
    );
  });
</script>
<body>
  
  <form id="post-form">

    <div class="container-fluid">
      <div class="row">

        <div class="col-2 text-center">
          <div class="avatar-wrapper">
            <img class="profile-pic" src="" />
            <div class="upload-button">
              <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <!-- action="/upload" method="post" -->
            <form  enctype="multipart/form-data">
              <input class="file-upload" type="file" accept="image/*" name="photo" />
              <input type='submit' value='upload' />
            </form>
          </div>
          <h4 id="username-container"></h4>
        </div>
        <div class="col-6">
          <%- include('partials/post'); -%>
          <%- include('newpost'); -%>
        </div>
        <div class="col-4 text-left ">
          <div class="col-lg-8 order-lg-2 ">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
              </li>

              <li class="nav-item">
                <a href="" data-target="#editprofile" data-toggle="tab" class="nav-link active" onclick="editProfile()">Edit profile</a>
              </li>
            </ul>

        
        

            <div class="tab-content py-4">
              <div class="tab-pane active" id="profile">
                <h5 class="mb-3 text-left">My profile</h5>
                <div class="row">
                  <div class="col-md-12">
                    <h6>About</h6>
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <h6>Hobbies</h6>
                    <p>
                      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                      aliquid ex ea commodi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div id="update-feedback">
    <% if(flashMessages) { %>
      <% if(flashMessages.success) { %>
        <div><%= flashMessages.success %></div>
      <% } else { %>
        <div><%= flashMessages.error %></div>
      <% } %>
    <% } else { %>
      <div>No flash message detected</div>
    <% } %>
  </div>
  
  <div id = "update-container">
    <div id="edit-profile-form-container">
      <span id="close-update-form-container-button" onclick="closeUpdateForm()">&#10006;</span>
      <form id="update-form">
        <section id="username-container">
            <label>Username</label>
            <Input id="username" type="text" name="username" placeholder="username"></Input>
        </section>
        <section id="email-container">
            <lable>Email</lable>  
            <Input id="email" type="text" name="email" placeholder="email"></Input>
        </section>
        <section id="new-password-container">
            <lable>New Password</lable>
            <Input id="password" type="password" name="password" placeholder="new password"></Input>
        </section>
        <!-- <section id="password-container">
          <lable>Password</lable>
          <Input id="password" type="password" name="password" placeholder="password"></Input>
        </section> -->
        
        <button type="submit" id="update-button" value="Update">Update</button>
        <span id = "result"></span>
      </form>
    </div>
  </div>
</body>