body{
    background:linear-gradient(to bottom right, white, #ded1bd);
    margin: 0;
}
#header{
    background: #683b2b;
    margin:  0;
    position: fixed; 
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

h1{
    color: white;
}

#parallax {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.highlights{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
}

.highlights:nth-child(3) {
    padding: 0;
}

.highlights-background{
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.highlights-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    padding: 100px;
    background: rgba(70,70,70,0.7);
    text-align: center;
    border-radius: 25px;
}

.highlights:nth-child(1) > .highlights-background {
    background-image: url(../Images/petDogCat.jpg);
}


.highlights:nth-child(2) > .highlights-background {
    background-image: url(../Images/41984-Playful-Pug-puppy-talk-to-the-paw!-white-background.jpg);
    
}

.highlights:nth-child(3) > .highlights-background {
    background-image: url(../Images/Cat_Paws_Up_Close_-_WHITE.JPG);
}

.highlights:nth-child(2) > .highlights-content > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#login-container{
    z-index: 3;
}

#login-direction {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(170,170,170,0.7);
    padding: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#close-login-form-container-button {
    position: absolute;
    right: 10vw;
    top: 10vh;
    color: rgba(202, 189, 169,1);
    font-weight: bolder;
    font-size: 36px;
    cursor: pointer;
}

#login-form-container{
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 2;
    position: fixed;
    background: rgba(152, 139, 119,1);
}

#login-form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

#username-container, #password-container,#email-container{
    min-width: 200px;
    width: 25vw;
    background: rgba(152, 139, 119,1);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;    
    color: rgba(202, 189, 169,1);
}

#email-container{
    display: none;
}

#username-container > input, #password-container > input, #email-container>input {
    background: rgba(152, 139, 119,1);
    border: none;
    color: rgba(202, 189, 169,1);
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
}

#username-container > input::placeholder, #password-container > input::placeholder, #email-container > input::placeholder {
    color: rgba(172, 159, 139,1);
    font-weight: bolder;
    font-size: 16px;
}


#sign-in-button, #sign-up-button {
    min-width: 200px;
    width: 25vw;
    background: rgba(172, 159, 139,0.5);
    border: none;
    height: 50px;
    border-radius: 25px;
    color: rgba(202, 189, 169,1);
    text-align: center;
}

#sign-up-button {
    display: none;
}

#username-container > input:focus, #username-container > input:focus::placeholder, #password-container > input:focus, #password-container > input:focus::placeholder,#email-container > input:focus, #email-container > input:focus::placeholder {
    color: rgba(222, 209, 189,1);
}

#username-container > input:focus, #password-container > input:focus {
    border-bottom: 2px solid;
}

#signup {
    padding-top: 10px;
    text-align: center;
    color: rgba(202, 189, 169,1);
}

#signup > span {
    color: white;
    font-weight: bold;
    padding: 10px;
}

#signup > span:hover {
    cursor: pointer;
}