.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#683B2B;
    color: #f2f2f2;
     
}

input[type=search] {
	background: rgb(243, 240, 240) url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
}
input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}

body {
    background-color: #eeeeee;
}

body > .navbar{
    margin-bottom: 20px !important;
    
    }

.h7 {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #d49e8d !important;
    border-color: white;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}
.avatar-wrapper {
    position: relative;
    height: 155px;
    width: 150px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    
  }
  .avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .avatar-wrapper:hover .profile-pic {
    opacity: .5;
  }
  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
  }
  .avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
  }
  .avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
  .avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 134px;
    top: 14px;
    left:20px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #2a547e;
  }
  .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: .9;
  }
  